.vermelho {
  color:red;
}

.negrito{
  font-weight: bold;
}

#article-title{
  font-family: cursive;
}

a[href]{
  color:magenta;
}

#hover:hover{
  color:red;
}

.lista li {
  color:blueviolet;
}
/* Propriedades da borda*/
#borda{
  border: 3px solid blue;
  border-radius: 10px;
  padding: 10px;
}



